name: Combine members data 
on : 
    push : 
        branches:
            - main
jobs: 
    job1:
        name : job1 copy
        runs-on : ubuntu-latest
        steps:
            - uses: actions/checkout@main
              with: 
                fetch-depth: 0               
            - name : Create a folder 
              run: |
                echo "hello kratika"
                mkdir -p dist/member
                echo "hello kratika1"
            - name : Commit files
              run: |
                echo "commiting files"
                git config --local user.email "kratika0907@gmail.com"
                git config --local user.name "Kratika0907"
                git add .
                git commit -m "Add folder"    
            - name : Push changes
              uses:  Kratika0907/website-static@main
               run:|
                echo "pushing changes" 
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}   

